<div fxLayout="column" style="min-height: 100%;">
  <header fxLayout="column">
    <esn-stars-background></esn-stars-background>
    <div
      fxFlexAlign="stretch"
      fxLayout="row"
      fxLayoutAlign="space-between"
      style="margin-bottom: 4rem;"
    >
      <img alt="ESN logo" height="80px" src="/assets/logos/esn.png" />
    </div>
    <img
      src="/assets/logos/awards_2020.svg"
      alt="STARawards 2020"
      height="250px"
      style="margin-bottom: 4rem;"
    />
    <!--    <p fxFlexAlign="center">The STARawards are split up across multiple categories</p>-->
    <!--<div fxLayout="row" fxLayoutAlign="center">
      <div
        class="categories"
        fxHide.lt-md
        gdAuto
        gdColumns="repeat(auto-fit, minmax(350px, 1fr))"
        gdGap="1rem"
        style="max-width: 100%; width: 1200px;"
      >
        <div
          *ngFor="let category of categories$ | async"
          class="category"
          fxLayout="column"
        >
          <strong>{{ category.title }}</strong>
          <p>{{ category.description }}</p>
        </div>
      </div>
    </div>-->
    <button mat-raised-button fxFlexAlign="center" routerLink="/">
      ← Back to the overview
    </button>
  </header>
  <main fxLayout="column" fxLayoutGap="2rem">
    <!--<strong fxFlexAlign="center" style="max-width: 1200px;">
      This draft of the winners page is for very little content. Basically just
      one picture per category and three winners announced. <br>
      Also there ar two card styles that could be used.
    </strong>-->
    <div
      class="categories-neu"
      gdAuto
      gdColumns="repeat(auto-fit, minmax(350px, 1fr))"
      gdColumns.xs="repeat(auto-fit, minmax(250px, 1fr))"
      ngClass.xs="extra-small"
      gdGap="80px"
      gdGap.xs="40px"
    >
      <div class="card" fxLayout="column">
        <h2>Network Award</h2>
        <img src="/assets/images/graphic.jpg" alt="Image" />
        <div
          gdAuto
          gdGap="0.5rem"
          gdColumns="max-content auto"
          gdAlignColumns="center"
          style="margin: 40px;"
        >
          <p>Winner</p>
          <div fxLayoutGap="0.5rem" fxLayout="column" fxLayoutAlign="end">
            <p><strong>Camp of Future</strong> - ESN Turkey</p>
          </div>
        </div>
      </div>
      <div
        class="card"
        *ngFor="let category of categories$ | async"
        fxLayout="column"
      >
        <h2>{{ category.title }}</h2>
        <img src="/assets/images/graphic.jpg" alt="Image" />
        <div
          gdAuto
          gdGap="0.5rem"
          gdColumns="max-content auto"
          gdAlignRows="center"
          style="margin: 40px;"
        >
          <ng-container *ngFor="let winner of category.first">
            <p>1<sup>st</sup> place</p>
            <p>
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </ng-container>
          <ng-container *ngFor="let winner of category.second">
            <p>2<sup>nd</sup> place</p>
            <p>
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </ng-container>
          <ng-container *ngFor="let winner of category.third">
            <p>3<sup>rd</sup> place</p>
            <p>
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </ng-container>
        </div>

        <!--        <button mat-stroked-button>Learn more</button>-->
      </div>
      <!--<div class="card" fxLayout="column">
        <h2>Honourable mentions</h2>
        &lt;!&ndash;<div
          gdAuto
          gdGap="0.5rem"
          gdColumns="max-content auto"
          gdAlignColumns="center"
          style="margin: 40px;"
        >
          <p>1<sup>st</sup> place</p>
          <div fxLayoutGap="0.5rem" fxLayout="column" fxLayoutAlign="end">
            <p *ngFor="let winner of category.first">
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </div>
          <p>2<sup>nd</sup> place</p>
          <div fxLayoutGap="0.5rem" fxLayout="column" fxLayoutAlign="end">
            <p *ngFor="let winner of category.second">
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </div>
          <p>3<sup>rd</sup> place</p>
          <div fxLayoutGap="0.5rem" fxLayout="column" fxLayoutAlign="end">
            <p *ngFor="let winner of category.third">
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </div>
        </div>&ndash;&gt;

        &lt;!&ndash;        <button mat-stroked-button>Learn more</button>&ndash;&gt;
      </div>-->
    </div>
  </main>
</div>
