<div>
  <header fxLayout="column">
    <esn-stars-background></esn-stars-background>

    <img
      alt="ESN logo"
      height="80px"
      src="/assets/logos/esn.png"
      fxFlexAlign="start"
      style="margin-bottom: 2rem;"
    />

    <img
      src="/assets/logos/awards_2020.svg"
      alt="STARawards 2020"
      height="250px"
      style="margin-bottom: 4rem;"
    />
    <a mat-raised-button fxFlexAlign="center" routerLink="/">
      ← Back to the overview
    </a>
  </header>
  <main
    class="categories-neu"
    gdAuto="dense"
    gdColumns="repeat(auto-fit, minmax(375px, 1fr))"
    gdColumns.xs="repeat(auto-fit, minmax(250px, 1fr))"
    ngClass.xs="extra-small"
    gdGap="80px"
    gdGap.xs="40px"
  >
    <div class="card" fxLayout="column">
      <figure>
        <img
          src="/assets/awards/network.jpg"
          alt="Image"
          loading="lazy"
          width="100%"
        />
      </figure>
      <div
        fxFlex="grow"
        fxLayout="column"
        fxLayoutAlign="center center"
        style="margin: 2rem;"
        fxLayoutGap="1.5rem"
      >
        <p style="font-size: x-large; font-weight: bold;">
          Camp of Future
        </p>
        <p style="font-size: x-large;">ESN Turkey</p>
      </div>
      <!--        <button mat-stroked-button (click)="toggleEntry()">Learn more</button>-->
    </div>
    <!--<div
      *ngIf="entryVisible$ | async"
      @expandAnimation
      (@expandAnimation.done)="onAnimationEvent($event)"
      class="entry"
      gdColumn="1 / -1"
    >
      <h2>Network award</h2>
      <div
        fxFlexAlign="center"
        style="width: 1200px; max-width: 100%; padding: 2rem;"
        fxLayout.gt-md="row"
        fxLayout="column"
        fxLayoutGap="2rem"
      >
        <img src="https://picsum.photos/500/700" alt="Image" height="500px" />
        <div fxLayout="column">
          <h1>1st place - ESN Lisbon</h1>
          <h2>How do they describe themselves?</h2>
          <p>
            Our section was founded in September of 2008 by 9 former Erasmus
            students. They surprisingly found out that there was no ESN in our
            beautiful city, so they decided to create ESN Lisboa. Instead of
            creating several ESN sections in the same city, they decided to
            create a single section to establish good relations with all
            universities. The section grew very fast due to the enormous amount
            of Portuguese students returning every year from Erasmus and
            flourished within its structure. In less than 6 years we had a legal
            foundation, statutes, standing orders, a solid hierarchic and
            democratic structure, strong activities, trips and parties, multiple
            partnerships, participation in all the international projects, high
            level network involvement and an extraordinary fast learning curve
            for all the active members. Through non-formal education, the
            learning process was facilitated by our members involved in the
            Eduk8 project (Tiago Costa, Inês Moreira, Inês Cunha and Lério
            Cunha) and supported by the HR department. Yet, we shouldn’t forget
            the knowledge that comes from experient older members/Alumni.
            Sometimes, what we need is a practical answer, a faster and more
            efficient solution that only can be given by people that experienced
            the same problem/situation. In the last three years, ESN Lisboa has
            grown from 25 to 55 active members, the internal structure expanded
            to 8 departments and 6 board members, in order to address the
            workload due to the increasing number of incoming students in
            Lisbon, currently around 5,000 exchange students per year.
          </p>
        </div>
      </div>
      <div
        fxFlexAlign="center"
        style="width: 1200px; max-width: 100%; padding: 2rem;"
        fxLayout.gt-md="row"
        fxLayout="column"
        fxLayoutGap="2rem"
      >
        <div fxFlex fxLayout="column" fxLayoutGap="1rem">
          <img src="https://picsum.photos/500/300" alt="Image" />
          <h2>2nd place - ESN Politecnico Milano</h2>
          <p>
            ESN Politecnico Milano was founded 6th February 1992, it was one of
            the first sections in Italy. In 1994 i become one of the founding
            members of ESN Italy, from 2005 it is part of the coordination of
            ESN a Milano Unita (composed by the six sections of Milan). In its
            twentyfour-year history, it has been one of the most active sections
            of the network. In December 2011 it organized a National Platform,
            in 2013 it took care of the organization of ESN Italy National Event
            and, in 2014, it organized the AGM, in collaboration with the others
            Milan’s sections. Over the years it has consolidated its
            relationship with the University and with a lot of institutional
            partners. We are pleased to be supported by the Municipality of
            Milan, that often gives us its official patronage and support us
            during our biggest events, for example providing us some venues
            and/or sponsorship. Since 2008, it organized in partnership with ESN
            Milano Statale, the new year eve anticipated, the CRAZY COUNTDOWN:
            an unforgettable night at which they are invited to participate all
            sections Italian! We are deeply interested in ESN National and
            International level, that is why we save every year some money to
            invest in this kind of event. We NEVER miss a National Platform or
            national events and project. We always partecipate to both SWEP and
            SEEP, and we wait all the year to attend the AGM.
          </p>
        </div>
        <div fxFlex fxLayout="column" fxLayoutGap="1rem">
          <img src="https://picsum.photos/500/300" alt="Image" />
          <h2>3rd place - ESN KTU</h2>
          <p>
            ESN Kaunas University of Technology was established in 2009 by a
            small group of students. At first the board was concluded of the
            president and vice president. Whereas the whole ESN KTU team
            included ten people. The first international event attended by ESN
            KTU members was NEP. After this experience we got inspired to
            organize our own events: white t-shirt party, foam party, card
            party. The very first big challenge was to organize ESN Summer Camp
            which started out as a national event but evolved into the first
            international event in 2011. Autumn of 2014 was one of the turning
            points to our organization: since then ALL students of Kaunas
            University of Technology can become ESN KTU members, it means that
            Lithuanians as well as international students currently not only
            participate in ESN activities but also organize them.
          </p>
        </div>
      </div>
    </div>-->
    <div
      class="card"
      *ngFor="let category of categories$ | async"
      fxLayout="column"
    >
      <figure>
        <img
          src="/assets/awards/{{ category.id }}.jpg"
          alt="Image"
          loading="lazy"
          width="100%"
        />
      </figure>
      <div
        gdAuto
        gdGap="1.5rem 0.5rem"
        gdColumns="max-content auto"
        gdAlignColumns="start center"
        style="margin: 40px;"
      >
        <ng-container *ngFor="let winner of category.first">
          <esn-laurel place="gold"></esn-laurel>
          <p>
            <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
          </p>
        </ng-container>
        <ng-container *ngFor="let winner of category.second">
          <esn-laurel place="silver"></esn-laurel>
          <p>
            <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
          </p>
        </ng-container>
        <ng-container *ngFor="let winner of category.third">
          <esn-laurel place="bronze"></esn-laurel>
          <p>
            <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
          </p>
        </ng-container>
      </div>
      <a
        *ngIf="category.public"
        mat-stroked-button
        routerLink="{{ category.id }}"
        >Learn more</a
      >
    </div>
    <!--<div class="card" fxLayout="column">
        <h2>Honourable mentions</h2>
        &lt;!&ndash;<div
          gdAuto
          gdGap="0.5rem"
          gdColumns="max-content auto"
          gdAlignColumns="center"
          style="margin: 40px;"
        >
          <p>1<sup>st</sup> place</p>
          <div fxLayoutGap="0.5rem" fxLayout="column" fxLayoutAlign="end">
            <p *ngFor="let winner of category.first">
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </div>
          <p>2<sup>nd</sup> place</p>
          <div fxLayoutGap="0.5rem" fxLayout="column" fxLayoutAlign="end">
            <p *ngFor="let winner of category.second">
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </div>
          <p>3<sup>rd</sup> place</p>
          <div fxLayoutGap="0.5rem" fxLayout="column" fxLayoutAlign="end">
            <p *ngFor="let winner of category.third">
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </div>
        </div>&ndash;&gt;

        &lt;!&ndash;        <button mat-stroked-button>Learn more</button>&ndash;&gt;
      </div>-->
  </main>
</div>
