<div>
  <header fxLayout="column">
    <esn-stars-background></esn-stars-background>

    <img
      alt="ESN logo"
      height="80px"
      src="/assets/logos/esn.png"
      fxFlexAlign="start"
      style="margin-bottom: 2rem;"
    />

    <img
      src="/assets/logos/awards_2020.svg"
      alt="STARawards 2020"
      height="250px"
      style="margin-bottom: 4rem;"
    />
    <a mat-raised-button fxFlexAlign="center" routerLink="/">
      ← Back to the overview
    </a>
  </header>
  <main
    class="categories-neu"
    gdAuto="dense"
    gdColumns="repeat(auto-fit, minmax(375px, 1fr))"
    gdColumns.xs="repeat(auto-fit, minmax(250px, 1fr))"
    ngClass.xs="extra-small"
    gdGap="80px"
    gdGap.xs="40px"
  >
    <div class="card" fxLayout="column">
      <figure>
        <img
          src="/assets/awards/network.jpg"
          alt="Image"
          loading="lazy"
          width="100%"
        />
      </figure>
      <div
        fxFlex="grow"
        fxLayout="column"
        fxLayoutAlign="center center"
        style="margin: 2rem;"
        fxLayoutGap="1.5rem"
      >
        <p style="font-size: x-large; font-weight: bold;">
          Camp of Future
        </p>
        <p style="font-size: x-large;">ESN Turkey</p>
      </div>
      <a mat-stroked-button routerLink="network">Learn more</a>
    </div>
    <div
      class="card"
      *ngFor="let category of categories$ | async"
      fxLayout="column"
    >
      <figure>
        <img
          src="/assets/awards/{{ category.id }}.jpg"
          alt="Image"
          loading="lazy"
          width="100%"
        />
      </figure>
      <div
        gdAuto
        gdGap="1.5rem 0.5rem"
        gdColumns="max-content auto"
        gdAlignColumns="start center"
        style="margin: 40px;"
      >
        <ng-container *ngFor="let winner of category.first">
          <esn-laurel place="gold"></esn-laurel>
          <p>
            <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
          </p>
        </ng-container>
        <ng-container *ngFor="let winner of category.second">
          <esn-laurel place="silver"></esn-laurel>
          <p>
            <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
          </p>
        </ng-container>
        <ng-container *ngFor="let winner of category.third">
          <esn-laurel place="bronze"></esn-laurel>
          <p>
            <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
          </p>
        </ng-container>
      </div>
      <a
        *ngIf="category.public"
        mat-stroked-button
        routerLink="{{ category.id }}"
        >Learn more</a
      >
    </div>
    <!--<div class="card" fxLayout="column">
        <h2>Honourable mentions</h2>
        &lt;!&ndash;<div
          gdAuto
          gdGap="0.5rem"
          gdColumns="max-content auto"
          gdAlignColumns="center"
          style="margin: 40px;"
        >
          <p>1<sup>st</sup> place</p>
          <div fxLayoutGap="0.5rem" fxLayout="column" fxLayoutAlign="end">
            <p *ngFor="let winner of category.first">
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </div>
          <p>2<sup>nd</sup> place</p>
          <div fxLayoutGap="0.5rem" fxLayout="column" fxLayoutAlign="end">
            <p *ngFor="let winner of category.second">
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </div>
          <p>3<sup>rd</sup> place</p>
          <div fxLayoutGap="0.5rem" fxLayout="column" fxLayoutAlign="end">
            <p *ngFor="let winner of category.third">
              <strong>{{ winner.project }}</strong> - {{ winner.organizer }}
            </p>
          </div>
        </div>&ndash;&gt;

        &lt;!&ndash;        <button mat-stroked-button>Learn more</button>&ndash;&gt;
      </div>-->
  </main>
</div>
