@import "~@angular/material/theming";

header {
  //background: linear-gradient(30deg, #2e3192, #0058b4, #0079c3);
  background: linear-gradient(30deg, #211f7d, #2e3192, #363b9e);
  //background: #2e3192;
  padding: 1rem;
  position: relative;
  h1 {
    color: white;
  }

  .category {
    z-index: 1;
    color: white;
    border: rgba(255, 255, 255, 0.5) solid 2px;
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
    @include mat-elevation-transition();
    transition: background-color 0.28s ease;

    &:hover {
      @include mat-elevation(6);
      background-color: rgba(255, 255, 255, 0.1);
    }

    p {
      margin: 0;
    }
  }

  .categories {
    margin-bottom: 3rem;
  }
}

main {
  //padding-top: 2rem;
  background: #eeeeee;
  .categories-neu {
    margin: 40px;
    &.extra-small {
      margin: 20px;
    }
    .entry {
      border-radius: 40px;
      background: #eeeeee;
      overflow: hidden;
      box-shadow: 20px 20px 40px #bebebe, -20px -20px 40px #ffffff;
      h2 {
        color: white;
        background: linear-gradient(130deg, #2e3192, #9f2f8e, #e24678);
        text-align: center;
        padding: 16px;
        margin-bottom: 0;
      }
    }
    .card {
      border-radius: 40px;
      background: #eeeeee;
      overflow: hidden;
      box-shadow: 20px 20px 40px #bebebe, -20px -20px 40px #ffffff;
      h2 {
        color: white;
        background: linear-gradient(130deg, #2e3192, #9f2f8e, #e24678);
        text-align: center;
        padding: 16px;
        margin-bottom: 0;
      }
      p {
        //margin: 40px;
        margin: 0;
        font-size: larger;
      }
      img {
        width: 100%;
      }
      button {
        margin: 40px;
      }
    }
  }
}
