header {
  background: linear-gradient(30deg, #211f7d, #2e3192, #363b9e);
  padding: 1rem;
  position: relative;

  h1 {
    color: white;
    margin: 0 0 3rem;
  }
}

main {
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
  &.extra-small {
    padding: 20px;
  }
}

.secondary {
  .article {
    margin-top: 2rem;
  }
}

.article {
  img {
    width: 100%;
    margin-bottom: 2rem;
  }
  h1 {
    text-align: justify;
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #000;
  }
  p {
    text-align: justify;
    padding-top: 1rem;
    white-space: pre-line;
  }
}

.honorable {
  margin-top: 4rem;
  margin-bottom: 0;
  padding-top: 1rem;
  //padding-bottom: .5rem;
  //border-top: black 2px solid;
  border-bottom: black 2px solid;
}

.photos {
  img {
    width: 100%;
  }
}
