<div>
  <header fxLayout="column">
    <img
      alt="ESN logo"
      height="80px"
      src="/assets/logos/esn.png"
      fxFlexAlign="start"
      style="margin-bottom: 2rem;"
    />
    <h1 class="mat-display-2" fxFlexAlign="center">{{ category.title }}</h1>
    <a mat-raised-button fxFlexAlign="center" routerLink="..">
      ← Back to the overview
    </a>
  </header>
  <main>
    <div
      class="article"
      *ngFor="let winner of category.first"
      fxLayout="column"
    >
      <img
        src="/assets/awards/{{ category.id }}/{{ winner.picture }}"
        alt="{{ category.title }} - {{ winner.project }}"
      />
      <div fxLayout="row" fxLayoutGap=".5rem">
        <esn-laurel place="gold"></esn-laurel>
        <h1 fxFlex>
          {{ winner.organizer }} - <strong>{{ winner.project }}</strong> -
          {{ winner.type }}
        </h1>
      </div>

      <div fxFlex></div>
      <p>{{ winner.longText }}</p>
    </div>

    <div
      fxLayout.gt-md="row"
      fxLayout="column"
      fxLayoutGap.gt-md="2rem"
      class="secondary"
    >
      <div
        fxLayout="column"
        class="article"
        *ngFor="let winner of category.second; last as isLast"
        [fxFlex.gt-md]="isLast ? '1 0 50' : 50"
      >
        <img
          src="/assets/awards/{{ category.id }}/{{ winner.picture }}"
          alt="{{ category.title }} - {{ winner.project }}"
        />
        <div fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign="start start">
          <esn-laurel place="silver"></esn-laurel>
          <h1 fxFlex>
            {{ winner.organizer }} - <strong>{{ winner.project }}</strong> -
            {{ winner.type }}
          </h1>
        </div>
        <p>{{ winner.longText }}</p>
      </div>
      <div
        fxLayout="column"
        class="article"
        *ngFor="let winner of category.third; last as isLast"
        [fxFlex.gt-md]="isLast ? '1 0 50' : 50"
      >
        <img
          src="/assets/awards/{{ category.id }}/{{ winner.picture }}"
          alt="{{ category.title }} - {{ winner.project }}"
        />
        <div fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign="start start">
          <esn-laurel place="bronze"></esn-laurel>
          <h1 fxFlex>
            {{ winner.organizer }} - <strong>{{ winner.project }}</strong> -
            {{ winner.type }}
          </h1>
        </div>
        <p>{{ winner.longText }}</p>
      </div>
    </div>
    <ng-container *ngIf="category?.honorable?.length">
      <h2 class="mat-headline honorable">
        <strong>Honorable mentions</strong> for the {{ category.title }}
      </h2>
      <div
        fxLayout.gt-md="row wrap"
        fxLayout="column"
        fxLayoutGap.gt-md="2rem grid"
        class="secondary"
      >
        <div
          fxLayout="column"
          class="article"
          *ngFor="let winner of category.honorable; last as isLast"
          [fxFlex.gt-md]="isLast ? '1 0 50' : 50"
        >
          <img
            src="/assets/awards/{{ category.id }}/{{ winner.picture }}"
            alt="{{ category.title }} - {{ winner.project }}"
          />
          <div fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign="start start">
            <h1 fxFlex>
              {{ winner.organizer }} - <strong>{{ winner.project }}</strong> -
              {{ winner.type }}
            </h1>
          </div>
          <p>{{ winner.longText }}</p>
        </div>
      </div>
    </ng-container>
  </main>
</div>
