header {
  esn-countdown {
    height: 20px;
    font-weight: bold;
    font-size: large;
  }
  padding: 1rem;
  &.gradient {
    background: linear-gradient(to bottom, #076585, #fff 90%);

    h1 {
      color: white;
    }

    mat-card {
      border-radius: 8px;
    }
  }

  &.neu {
    background: #2e3192;
    color: white;
    .card {
      padding: 50px;
      margin-bottom: 60px;
      min-width: 50vw;
      border-radius: 50px;
      background: #2e3192;
      box-shadow: 20px 20px 60px #272a7c, -20px -20px 60px #3538a8;
    }
  }
}

main {
  padding: 2rem;
}
