<div fxLayout="column">
  <header
    fxLayout="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap="2rem"
    class="neu"
    style="min-height: 40vh;"
  >
    <div fxFlexAlign="stretch" fxLayout="row" fxLayoutAlign="space-between">
      <img alt="ESN logo" height="80px" src="/assets/logos/esn.png" />
    </div>
    <img src="/assets/logos/awards.svg" alt="STARawards" height="200px" />
    <div
      class="card"
      fxLayout="column"
      fxLayoutGap="1.5rem"
      fxLayoutAlign="start center"
    >
      <h1 class="mat-h1">Welcome to the home of ESN STARawards!</h1>
      <button mat-raised-button routerLink="/winners" fxFlexAlign="stretch">
        Check out the 2020 winners
      </button>
    </div>
  </header>
  <main class="mat-app-background">
    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap="2rem"
      style="max-width: 1200px; margin-right: auto; margin-left: auto;"
    >
      <div fxFlex="grow" fxLayout="column">
        <h2>What are the ESN STARawards?</h2>
        <p>
          The STARawards are an initiative of the Erasmus Student Network aimed
          at the recognition and appreciation of the work our member
          organisations do in a span of one year. Each year our local and
          national organisations can submit their initiatives, activities,
          events, projects, programmes, and campaigns across several categories.
          The chosen applications are awarded a certificate signed by the
          President of ESN International. This certificate can be used for
          advocacy purposes towards the universities or other stakeholders
          and/or as a motivation booster for the volunteers.
        </p>
        <div fxFlex></div>
        <img
          src="/assets/images/hug.jpg"
          alt="People hugging"
          style="width: 100%;"
        />
      </div>
      <div fxFlex="grow" fxLayout="column">
        <h2>How are the applications evaluated?</h2>
        <p>
          The application consists of a brief description of the initiative/
          activity/ event/ project/ programme/ campaign focusing on the core
          idea behind it, the way that idea was executed, desired and reached
          outcomes and the impact on the designated target group. The
          submissions are then evaluated by a jury of volunteers and experts in
          the field of the category. Each category consists of the top three
          places, as well as honourable mentions.
        </p>
        <div fxFlex></div>
        <img src="/assets/images/nec.jpg" alt="NEC" style="width: 100%;" />
      </div>
    </div>
  </main>
</div>
