<div fxLayout="column" style="min-height: 100%;">
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <footer
    fxLayout.gt-sm="row"
    fxLayout="column-reverse"
    fxLayoutAlign="space-between center"
    fxLayoutGap="2rem"
    class="dark-buttons"
  >
    <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
      <img src="/assets/logos/esn-star.png" alt="ESN star" height="48px" />
      <div fxLayout="column" fxLayoutGap="0.5rem" fxFlexAlign="start end">
        <p>© 2020 ESN Network Committee</p>
        <p>created by the ESN IT Committee</p>
      </div>
    </div>
    <a href="https://esn.org/" target="_blank" rel="noopener" mat-stroked-button
      >Visit esn.org</a
    >
  </footer>
</div>
